<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="home.html">
  
      <title>The sweetcake shop</title>
      <STYLE>
      A {text-decoration: none;}

      #data{
        border: 2px solid black;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: beige;
      }
      </STYLE>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/loginpage.css">
    <title>The sweetcake shop</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-white bg-dark text-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../static/logo1.jpg" alt="" height="50px" width="100px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            <li><a href="/emplist" class="nav-link px-2 text-white">All Users</a></li>
    
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Menu
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Cakes</a></li>
                <li><a class="dropdown-item" href="#">Chocolates</a></li>
                <li><a class="dropdown-item" href="#">Pastries</a></li>
    
                <li class="nav-item dropdown drop-down02">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    IceCreams
                  </a>
                  <ul class="dropdown-menu sub-menu02" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Vanila</a></li>
                    <li><a class="dropdown-item" href="#">Strawbery</a></li>
                    <li><a class="dropdown-item" href="#">Chocolates</a></li>
    
    
    
    
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/contact" class="nav-link px-2 text-white">ContactUs</a></li>
          </ul>
          </li>
          </ul>
          <div>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
    
          <div class="mx-2">
            <button type="button" class="btn btn-danger"><a href="/login">Login</a></button>
            <button type="button" class="btn btn-warning"><a href="reg">Register</a></button>
          </div>
        </div>
        </div>
      </nav>

    <center>
      <div id="data">
      <form method="POST" action="checkEmp">
        <div id="mylogo">
            <h2>The sweetcake shop</h2>
        </div>
        <div id="titlehead">
            <h4>Login to your account</h4>
        </div>
        <div id="maincont">
            <td><input type="text" name="email" placeholder="Enter your email here" size="50%"></td><br><br>
            <td><input type="password" name="password" placeholder="Enter your password here" size="50%"></td><br>
            <td><input type="checkbox">Remember Me</td>
            <span><a href=" ">Forgot Password?</a></span><br>
            <button type="submit" href="index.html">Login</button>
        </div>
        <div id="footline">
            <a href="/reg">Don't Have Account? Click Here</a>
        </div>
    </form>
  </div> 
     
    </center>
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
    
          <div class="col-4 offset-1">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of whats new and exciting from us.</p>
              <div class="d-flex w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
    
        <div class="d-flex justify-content-between py-4 my-4 border-top">
          <p>© 2021 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
</body>
</html>
